<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Aplikacja używa danych zdrowotnych do śledzenia Twojego tętna.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Aplikacja potrzebuje dostępu do danych zdrowotnych, aby analizować Twój puls.</string>
</dict>
</plist>
